<h1>Enviar correos electrónicos</h1>

<form method="post">
    <label>Destinatario: </label>
    <input type="email" class="form-control" name="destinatario" placeholder="Ejemplo: 'alguien@correo.com'" required/>
    <br />
    <label>Asunto: </label>
    <input type="text" class="form-control" name="asunto" placeholder="Asunto" required/>
    <br />
    <label>Mensaje:</label>
    <textarea name="mensaje" class="form-control" placeholder="Escribe tu mensaje"></textarea>
    <br />
    <button type="submit" class="btn btn-success">
        Enviar correo
    </button>
</form>

<h1 style="color:red">@ViewData["MENSAJE"]</h1>