@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi aplicación web</h1>
    <p>Para enviar un correo pulsa en el menu principal "correo"</p>
    <p>Para más informacion sobre <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
